<div id="Componentes">
    <div id="main">
        {{> navbar}}
        <div class="contentMenu">
            <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <a href="/administrador/menu_cursos" class="btn btn-primary btn-block">ADMINISTRAR CURSOS</a>
                            <a class="btn btn-primary btn-block">ADMINISTRAR DOCENTES</a>
                        </div>
                    </div>      
            </div>

        </div>
    </div>
</div>
</div>